/target/classes/academy/prog/Main.class
/target/chat-client-1.0-SNAPSHOT.jar
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/academy/prog/GetThread.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/academy/prog/JsonMessages.class
/target/classes/academy/prog/Message.class
/target/maven-archiver/pom.properties
/target/classes/academy/prog/TextProcessing.class
/target/classes/academy/prog/User.class
/target/classes/academy/prog/Utils.class
/.idea/
/target/
